.container {
    margin-bottom: 50px;
    min-height: 600px;
}

.c-title {
    text-align: center;
}

.c-content {
    margin: auto;
    max-width: 1000px;
}

.c-content > hr {
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px 0px 20px 0px;
    max-width: 600px;
}

.c-content > h2 {
    margin: 20px 0px 0px 0px;
}
.submit-btn-div, .info-div, .input-group {
    padding-left: 50px;
}
.info-div {
    font-size: 1.4rem;
}

.input-group, .submit-btn-div {
    margin-top: 15px;
}

.input-group > input, label {
    font-size: 1.4rem;
    min-width: 50%;
    padding-left: 5px;
}

.input-group textarea {
    font-size: 1.4rem;
    max-height: 400px;
    max-width: 70%;
    min-height: 100px;
    min-width: 50%;
    padding-left: 5px;
}

.submit-btn {
    background-color: #128ca0;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px 20px;
    transition: 0.5s;
}

.submit-btn:hover {
    background-color: #1267a0;
}

.back-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    color: black;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px 10px;
    transition: 0.5s;
}

.back-btn:hover {
    background-color: black;
    color: white;
}

.go-back-zone {
    margin-top: 20px;
}

@media only screen and (max-width: 810px) {
    .c-content {
        margin: 0px 10px;
    }
    .info-div {
        padding-left: 0px;
    }
}