.welcome-zone {
    text-align: center;
}

.welcome-img {
    margin-top: 0px;
}

.welcome-hr {
    width: 25%;
    border: 3px solid black;
    border-radius: 5px;
}

.welcome-desc {
    width: 25%;
    margin: auto;
    font-size: 18px;
}

.welcome-r-btn {
    width: 50%;
    padding: 10px 0px;
    font-weight: bold;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    color: white;
    transition: 1s;
    cursor: pointer;
}

.welcome-r-btn:hover {
    background-color: #128ca0;
}

.destaques-zone {
    padding-bottom: 25px;
}

.destaques-panel {
    width: 55%;
    margin: auto;
}

.destaques-panel h1 {
    margin-left: 15px;
    margin-bottom: 5px;
}

.destaques-carousel {
    position: relative;
    border: 2px solid black;
}

.destaques {
    display: flex;
    overflow: hidden;
    background-color: white;
}

.ms_ss_panel {
    width: 200px;
    margin-left: 15px;
    border: 1px solid black;
    box-shadow: none;
    box-sizing: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ms_ss_panel:last-child {
    margin-right: 15px;
}

.ms_ss_img {
    height: 296px;
    width: 200px;
}

.go-left, .go-right {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    background-color: rgba(2, 2, 2, 0.9);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}

.go-right {
    right: 0;
}


.movies-btn {
    background-color: #128ca0;
    margin-right: 25px;
}

.tvshows-btn {
    background-color: #ed3124;
}

.movies-btn, .tvshows-btn {
    width: 15%;
    padding: 25px 0px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
    font-size: 26px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid black
}