.welcome-zone {
    text-align: center;
    margin: auto;
}

.welcome-zone img {
    margin-top: 0px;
    width: 200px;
}

.welcome-zone h1 {
    margin: 10px;
}

.welcome-desc {
    font-size: 1.3rem;
    max-width: 700px;
    margin: 20px auto;
}

.welcome-r-btn {
    min-width: 200px;
    padding: 10px 0px;
    font-weight: bold;
    background-color: #ed3124;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.welcome-r-btn:hover {
    background-color: #128ca0;
}

.welcome-zone hr {
    max-width: 500px;
    border: 3px solid black;
    border-radius: 5px;
}

.carousel-zone {
    padding-bottom: 25px;
}

.carousel-panel {
    max-width: 1107px;
    margin: auto;
}

.carousel-panel h1 {
    margin: 5px 0px 0px 15px;
}

.carousel-carousel {
    position: relative;
    border: 1px solid black;
    border-radius: 3px;
}

.carousel {
    display: flex;
    overflow: hidden;
    background-color: white;
}

.ms_ss_panel {
    width: 201px;
    margin: 20px 0px 20px 15px;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: none;
}

.ms_ss_panel > div {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 1px 5px;
}

.ms_ss_img {
    height: 300px;
}

.go-left, .go-right {
    cursor: pointer;
    position: absolute;
    padding: 0px 10px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.4);
    transition: 0.2s;
    
}

.go-left:hover, .go-right:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    box-shadow: none;
}
.go-right {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 0;
}
.go-left {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.movies-btn {
    background-color: #128ca0;
}
.movies-btn:hover {
    background-color: #1254a0;
}

.tvshows-btn {
    background-color: #ed3124;
}

.tvshows-btn:hover {
    background-color: #a01212;
}

.movies-btn, .tvshows-btn {
    cursor: pointer;
    min-width: 217px;
    padding: 10px 0px;
    text-align: center;
    color: white;
    font-size: 26px;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px 10px;
    transition: 0.5s;
    text-decoration: none;
}

.carousel > div:last-child {
    padding-right: 15px;
}