.ccontainer {
    margin: auto;
    max-width: 1115px;
    box-sizing: border-box;
    padding: 5px 5px 50px 5px;
}
.ccontainer > hr {
    border: 3px solid black;
    border-radius: 5px;
}

#info-picture {
    max-width: 250px;
    border: 1px solid silver;
    border-radius: 2px;
}

.info-details {
    margin-left: 10px;
    width: 100%;
}

.info-detail {
    margin-left: 5px;
    font-size: 1.3rem;
    text-align: left !important;
    margin-top: 10px;
}

#info-title {
    margin-left: 5px;
    font-size: 2rem;
    font-weight: bold;
}

#yt-embeddiv {
    max-width: 1280px;
    height: 720px;
    margin: 15px;
}

.info-panel {
    margin: 15px;
}

.action-btns {
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px 2px;
}

.action-btns > img {
    width: 32px;
    height: 32px;
}

.season-select {
    min-width: 75px;
    font-size: 1.3rem;
}

.action-btns.active {
    background-color: darkgray;
}

@media only screen and (max-width: 675px) {
    .info-details {
        margin: 0;
    }
}