.ccontainer {
    margin: auto;
    max-width: 1115px;
    box-sizing: border-box;
    padding: 5px 5px 50px 5px;
}
.ccontainer > hr {
    border: 3px solid black;
    border-radius: 5px;
}

#info-picture {
    max-width: 250px;
    border: 1px solid silver;
    border-radius: 2px;
}

.info-details {
    margin-left: 10px;
    width: 100%;
    position: relative;
}

.info-detail {
    margin-left: 5px;
    font-size: 1.3rem;
    margin-top: 10px;
}

#info-title {
    margin-left: 5px;
    font-size: 2rem;
    font-weight: bold;
}

#yt-embeddiv {
    max-width: 1280px;
    height: 720px;
    margin: 15px;
}

.info-panel {
    margin: 15px;
}

.action-btns {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px 2px;
}

.action-btns > img {
    width: 32px;
    height: 32px;
}

.season-select {
    min-width: 75px;
    font-size: 1.3rem;
}

.action-btns.active {
    background-color: #ed3124;
}

.bottom-btn-div {
    position: absolute;
    bottom: 0;
    right: 0;
}
.back-btn {
    cursor: pointer;
    border: 1px solid black;
    font-size: 1.3rem;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    background-color: black;
    color: white;
    transition: 0.5s;
}

.back-btn:hover {
    background-color: white;
    color: black;
    
}

@media only screen and (max-width: 675px) {
    .bottom-btn-div {
        position: unset;
        margin-top: 25px;
    }
    .info-details {
        margin: 0;
    }
}