.content {
    max-width: 1117px;
    margin: auto;
    margin-bottom: 50px;
}

.content-title {
    text-align: center;
    margin: auto;
}
.content hr {
    border: 3px solid black
}

.content-content {
    padding-top: 20px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    min-height: 500px;
}

.ms_ss_panel {
    width: 201px;
    margin: 0px 10px 20px 10px;
    border: 1px solid black;
    box-shadow: none;
    color: black;
    text-decoration: none;
}

.ms_ss_img {
    height: 300px;
}

.ms_ss_panel > div {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 1px 5px;
}

.content-buttons {
    padding: 10px 25px;
    border: 1px solid black;
}

.content-buttons button {
    font-size: 1.5rem;
    padding: 5px 40px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.back-btn {
    cursor: pointer;
    border: 1px solid black;
    font-size: 1.3rem;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    background-color: white;
    color: black;
    transition: 0.5s;
}

.back-btn:hover {
    background-color: black;
    color: white;
    
}

.content-p-btn {
    background-color: #128ca0;
    color: white;
}

.content-n-btn {
    background-color: #ed3124;
    color: white;
}

.username-ref {
    text-decoration: none;
    color: #ed3124;
}

.no-content {
    margin-left: 15px;
    font-size: 1.3rem;
}

.search-form {
    background-color: silver;
    border-radius: 5px;
}

.search {
    margin: 10px;
    font-size: 1.3rem;
}
.search > input {
    font-size: 1.2rem;
}
.search > select {
    font-size: 1.2rem;
    padding: 5px;
}

.search-bar {
    min-width: 300px;
    max-width: 500px;
    padding: 5px;
}

.search-btn {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 10px;
    margin-left: 10px;
    font-weight: bold;
    
}

.search-input {
    font-size: 1.3rem;
}
.search-input > input {
    font-size: 1.2rem;
}

@media only screen and (max-width: 1117px){
    .content-content {
        justify-content: center;
        align-content: flex-start;
    }
}

@media only screen and (max-width: 810px) {
    .search-btn {
        margin-top: 10px;
    }
}