.lr-zone {
    min-height: 600px;
    padding: 50px 0px;
}
.lr-panel {
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    width: 450px;
}
.lr-panel > h1 {
    margin-bottom: 10px;
}
.input-group {
    margin: 10px auto 0px auto;
    width: 70%;
}
.input-group > input {
    border: 2px solid black;
    border-radius: 2px;
    box-sizing: border-box;
    padding-left: 5px;
    width: 100%;
}
.input-group > label, input {
    font-size: 1.4rem;
}
.input-btn {
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}
.input-btn > input {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #128ca0;
    color: white;
    cursor: pointer;
    font-weight: bold;
    min-width: 40%;
    padding: 7px;
    transition: 0.5s;
}
.input-btn > input:hover {
    background-color: #1267a0;
}
.r-input-btn {
    background-color: #ed3124 !important;
}
.r-input-btn:hover {
    background-color: #8a1c15 !important;
}
.lr-to-lr {
    border-top: 1px solid black;
    text-align: center;
    font-size: 1.2rem;    
}
.back-btn-div {
    margin-top: 15px;
    text-align: center;
}

.info-txt {
    background-color: #dce0ff;
    border: 1px solid #182786;
    border-radius: 2px;
    color: #182786;
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
}

.invalid {
    background-color: #ffdce0;
    border-color: #86181d;
    color: #86181d;
}

.valid {
    background-color: #dcffe5 !important;
    border-color: #18861f !important;
    color: #18861f !important;
}

.keep_login_box {
    height: 20px;
    vertical-align: middle;
    width: 20px;
}
.reset-pw {
    font-size: 1.1rem;
}
.back-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    color: black;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px 10px;
    transition: 0.5s;
}

.back-btn:hover {
    background-color: black;
    color: white;
}