/* Marcas */
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/* Classes */

.flex-line {
    display: flex;
}

.navbar {
    background-color: red;
    height: 4rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.flex-center {
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-start {
    align-content: flex-start;
}

.flex-spaced {
    justify-content: space-between;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    position: -webkit-sticky;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
}

.navbar-img-a {
    margin: 5px 10px 0px 10px;
}
.navbar-img {
    width: 50px;
}

.navbar-userLogo {
    border: 1px solid black;
    box-shadow: none;
    border-radius: 2px;
}

.logout-link {
    background-color: #128ca0;
    color: white !important;
    border-radius: 2px;
}

.navbar-links, .r-link, .l-link {
    display: inline-block;
    margin: 12px 10px 12px 0px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.4rem;
    padding: 5px 10px;
    transition: 0.5s;
}

.navbar-links.active {
    background: black !important;
    color: white !important;
    border-radius: 5px;
}

.r-link {
    background-color: #ed3124;
}
.r-link:hover {
    background-color: #8a1c15 !important;
}

.l-link {
    background-color: #128ca0;
}

.l-link:hover {
    background-color: #1267a0 !important;
}

.r-link, .l-link {
    color: white;
    transition: 0.5s;
    border-radius: 5px;
    border: 1px solid white;
}

.navbar-links:hover {
    background: silver;
    border-radius: 5px;
}

footer {
    background-color: black;
    color: white;
}

.footer-content {
    min-width: 13%;
}

.footer-content > div {
    width: 100%;
}

.footer-ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}
.footer-ul > li > a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    transition: 0.8s;
}
.footer-ul > li > a:hover {
    color: #ed3124;
    text-decoration: underline;
}

footer .flex-line:first-child {
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-col h2 {
    margin-top: 0;
    margin-bottom: 10;
    font-size: 1.3rem;
}

.footer-credits {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 16px;
}

.footer-creators > span {
    margin-top: 50px;
}

.footer-credits-txt {
    font-weight: 500;
    margin: 15px 10px 0px 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-credits-txt a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#opennav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid grey;
    text-align: center;
    
}

#opennav > img {
    width: 32px;
    height: 32px;
    padding: 9px 0px;
}

@media only screen and (max-width: 810px) {
    .flex-line {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar-linksdiv {
        flex-direction: initial;
    }
    /* TODO: this causes an issue  where some buttons go 100% width but if removed, logo will move when opening navbar*/

    .flex-col {
        text-align: center;
    }

    #opennav {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    nav.active .navbar-links {
        display: block;
        width: 100%;
        text-align: center;
        align-items: center;
        margin: 12px 0px;
    }

    nav.active .navbar-linksdiv{
        justify-content: center;
        align-items: center;
    }
}

.vis-hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.text-center {
    text-align: center;
}