/* Marcas */
body {
    margin: 0px;
}


/* Classes */

.flex-line {
    display: flex;
}

.flex-spaced {
    justify-content: space-between;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    position: -webkit-sticky;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
}

.navbar-img-a {
    margin: 5px 10px 0px 10px;
}
.navbar-img {
    width: 50px;
}

.navbar-links {
    display: inline-block;
    margin: 12px 10px 12px 0px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.4rem;
    padding: 5px;
    transition: 0.5s;
}

.l-link, .r-link {
    background-color: yellow;
}

.l-link {
    background-color: red;
}

.navbar-links:hover {
    background: silver;
    animation: fill 1s forwards;
}

.l-link, .r-link, .navbar-links:hover {
    border-radius: 5px;
}

.login-zone {
    min-height: 700px;
}
.login-panel {
    margin: 5rem auto auto auto;
    width: 20%;
    border: 1px solid black;
}
.login-panel > h1 {
    text-align: center;
}
.input-group {
    padding: 0px 10% 0 10%;
    margin-top: 25px;
}
.input-group > input {
    width: 100%;
    padding-left: 5px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.input-group > label, input {
    font-size: 1.5rem;
}
.input-btn {
    width: 100%;
    margin: 15px auto 10px auto;
    text-align: center;
}
.input-btn > input {
    width: 40%;
    padding: 7px;
    font-weight: bold;
    background-color: green;
    border: 0px solid black;
    border-radius: 10px;
}
.login-register {
    border-top: 1px solid black;
    text-align: center;
    font-size: 1.2rem;    
}

footer {
    width: 100%;
    box-sizing: border-box;
    background: silver;
}

.footer-content {
    display: flex;
    margin: auto;
    width: 80%;
}

.footer-content > div {
    width: 100%;
}

.footer-ul {
    list-style: none;
    padding: 0;
}


.footer-creators {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.footer-creators > span {
    margin-top: 50px;
}