.ccontainer {
    margin: auto;
    max-width: 1115px;
    box-sizing: border-box;
    padding: 5px 5px 50px 5px;
}
.ccontainer > hr {
    border: 3px solid black;
    border-radius: 5px;
}

.ms_ss_panel {
    width: 201px;
    margin: 0px 0px 20px 15px;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: none;
    color: black;
    text-decoration: none;
}

.ms_ss_panel > div {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 1px 5px;
}

.ms_ss_img {
    height: 300px;
}


.field-header {
    margin: 0px 15px;
    color: black;
}

.field-title {
    font-size: 25px;
}

.list-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.list-title > div {
    padding: 5px 0px;
    font-size: 1.6rem;
}
.list-title > a {
    border: 1px solid black;
    box-shadow: none;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    padding: 5px;
    border-radius: 5px;
    background-color: red;
    font-size: 1.4rem;
    
}
.list-title > a:hover {
    background-color: silver;
    color: black;
}

.user-info {
    margin: 15px;
}

.username {
    font-size: 2rem;
    font-weight: bold;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
}

.follow-btn {
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 2px;
    border: 1px solid black;
    background-color: red;
    color: white;
}

.back-btn, .list-btn {
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid black;
    margin-left: 10px;
    font-weight: bold;
    padding: 7px;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 2px;
    min-width: 100px;
}

.back-btn {
    color: black;
    background-color: silver;
}

.list-btn {
    color: white;
    background-color: red;
    min-width: 100px;
}

.user-details {
    width: 100%;
}

.detail {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 1.3rem;
}

.profileminilist {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}

.user-img {
    max-width: 250px;
    max-height: 250px;
}

.no-content {
    margin-left: 15px;
    font-size: 1.3rem;
}


@media only screen and (max-width: 675px) {

    .profileminilist {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}