.profileuserdetails {
    margin-left: 10px;
    width: 100%;
}

.profileuserdetail {
    padding: 5px;
}

#profilefollowbtn {
    font-size: 30px;
}

.profileminilist {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}

.pml-panel {
    width: 230px;
    border: 1px solid black;
    box-shadow: none;
    margin: 0px 5px;
}

.pml-img {
    height: 350px;
    width: 230px;
}

#profileusername {
    font-size: 25px;
    font-weight: bold;
}

#profilepicture {
    max-width: 200px;
}

.field-seemore {
    font-size: 20px;
    color: black;
}

#opennav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid grey;
    text-align: center;
    
}

#opennav > img {
    width: 32px;
    height: 32px;
    padding: 9px 0px;
}

@media only screen and (max-width: 675px) {
    .flex-line {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar-linksdiv {
        flex-direction: initial;
    }

    .flex-col {
        text-align: center;
    }

    .profileminilist {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    #opennav {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    nav.active .navbar-links {
        display: block;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    nav.active .navbar-linksdiv{
        justify-content: center;
        align-items: center;

    }
}